*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
    overscroll-behavior: none;
}

html,body{
    height: 100vh;
    overflow: hidden;
}

.main{
    /* display: none; */
    height: 100vh;
    /* overflow-y: scroll; */
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    background-image: url('./images/background.png') ;
    background-size: cover;
}

.child{
    scroll-snap-align: start;
}

.child{
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.main .loader{
    height: 100vh;
}

.cube{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(0deg);
    animation: anim 4s infinite ease-out;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
    0 2px 2px 0 rgba(0,0,0,0.12),
    0 4px 4px 0 rgba(0,0,0,0.12),
    0 8px 8px 0 rgba(0,0,0,0.12),
    0 16px 16px 0 rgba(0,0,0,0.12);
}

.outercube{
    width: 10vw;
    height: 10vw;
    background-color: crimson;
}

.innerCube{
    width: 5vw;
    height: 5vw;
    background-color: rgb(223,223,223);
}

.innerCube2{
    width: 2.5vw;
    height: 2.5vw;
    background-color: white;
}

@keyframes anim {
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    25%{
        transform: translate(-50%,-50%) rotate(90deg);
    }
    50%{
        transform: translate(-50%,-50%) rotate(180deg);
    }
    75%{
        transform: translate(-50%,-50%) rotate(270deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
/* Page 1 */

.nav {
    margin-top: 60px;
    height: 10vh;
    width: 100%;    
    display: flex;
    justify-content: space-between;
    /* border: 2px solid white; */
}

a{
    color: white;
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

.nav .line{
    margin-top: 5px;
    width: 50%;
    /* border: 2px solid white; */
}
.nav .line hr{
    width: 80%;
    margin-right: auto;
}

.nav .nav-items{
    width: 30%;
    display: flex;
    justify-content: space-around;
}
.nav .nav-items .item{
    transition: text-decoration ease-in ;
}
.nav .nav-items .item:hover{
    /* font-weight: bold; */
    text-decoration: underline;
}

.item{
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

.hero{
    height: 100vh;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 0.1px solid white; */
}

.hero .content{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 7rem;
    font-weight: bold;
    /* transform: translateY(-40px); */
    /* border: 2px solid white; */
}

.hero .content p{
    width: 900px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    /* letter-spacing: 0; Adjust as needed */
    /* animation: 
        typing 3s steps(20),
        blink-caret .75s step-end infinite; */
}
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 900px; }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
  }

.hero .content span{
    color: crimson;
}

.foot{
    height: 20%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
    /* border: 0.1px solid white; */
}

.foot .circles{
    width: 50%;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot .circles .circle{
    height: 20px;
    width: 20px;
    background-color: rgb(223,223,223);
    border-radius: 50%;
    margin: 5px;
    transform: translateX(-200px);
}

.foot .line{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid white; */
}
.foot .line hr{
    width: 70%;
    margin-left: auto;
}

/* Page 2 */
.about{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 0.1px solid white; */
}

.about .content{
    height: 80%;
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    /* border: 2px solid red; */
}

.about .content .image{
    width: 40%;
    /* border: 1px solid white; */
}  

.about .content .image img{
    height: 450px;
    width: 450px;
    border-radius: 50%;
    transform: translateX(100px);
}

.about .content .text{
    width: 50%;
    /* margin-left: 40px; */
    /* border: 1px solid white; */
}

.about .content .text .title{
    font-size: 5rem;
    font-weight: bold;
}

span{
    color: crimson;
}

.about .content .text .paragraph{
    /* border: 2px solid white; */
    font-weight: 100;
    font-size: 1.8rem;
    height: 100%;
    padding-right: 5rem;

}

/* Education */
.education{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 0.1px solid white; */
}

.education .content{
    height: 80%;
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    /* border: 2px solid red; */
}

.education .content .text{
    width: 50%;
    padding-left: 100px;
}

.education .content .title{
    font-size: 5rem;
    font-weight: bold;
    margin-top: 10px;
}

.education .content .data{
    /* border: 1px solid white; */
    height: 100%;
    width: 100%;
}

.education .content .data .school{
    margin-top: 40px;
}
.education .content .data .school .title2{
    font-size: 1.8rem;
    font-weight: bold;
}


.education .content .image{
    width: 50%;
    display: flex;
    flex-direction: row;
    padding: 10px
}
.education .content .image .box{
    width: 90%;
    display: flex;
    flex-direction: row;
    padding : 10px;
}

.education .content .image .box .imageleft{
    width: 50%;
    height: 100%;
    background-image: url('./images/IMG1.png');
    background-size: cover;
    margin: 15px;
    transition: all 0.2s ease;
}
.education .content .image .box .imageleft:hover{
    transform: scale(1.1);
}

.education .content .image .box .imageright{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.education .content .image .box .imageright .imagetop{
    width: 100%;
    height: 50%;
    background-image: url('./images/IMG2.png');
    background-size: cover;
    margin: 10px;
    transition: all 0.2s ease;
}

.education .content .image .box .imageright .imagetop:hover{
    transform: scale(1.1);
}
.education .content .image .box .imageright .imagebottom{
    width: 100%;
    height: 50%;
    margin: 10px;
    background-image: url('./images/IMG3.jpg');
    background-size: cover;
    transition: all 0.2s ease;
}

.education .content .image .box .imageright .imagebottom:hover{
    transform: scale(1.1);
}
/* thank you page */

.thanks{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 0.1px solid white; */
}

.thanks .content{
    height: 80%;
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid red; */
}

.thanks .content .title{
    font-size: 6rem;
    font-weight: bold;
}


.thanks .content .paragraph{
    font-size: 1.8rem;
    font-weight: 100;
    margin-top: 0;
}

.thanks .content .contacts{
    margin-top: 30px;
    width: 22%;
    height: 10%;
    /* border: 1px solid white; */
}

.thanks .content .contacts .logos{
    display: flex;
    justify-content: space-around;
}

.thanks .content .contacts .logos .logo img{
    height: 50px;
    width: 50px;
}
.logo3{
    background-color: white;
    border-radius: 10%;
}

.logos a i{
    color:white;
}

.logos a i:hover{
    color:red;
}

/* 
.loader{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: rgb(36,32,32);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .loader>div{
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
} */

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* Responsiveness */
@media only screen and (max-width: 500px){

    /* Main Page */
    .nav {
        margin-top: 60px;
        height: 10vh;
        width: 100%;    
        display: flex;
        justify-content: space-between;
        /* border: 2px solid white; */
    }

    .nav .line{
        margin-top: 10px;
        width: 30%;
        /* border: 2px solid white; */
    }

    .nav .nav-items{
        width: 70%;
        display: flex;
        justify-content: space-around;
    }

    .hero .content{
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        font-size: 4rem;
        font-weight: bold;
        overflow-wrap: break-word;
        /* transform: translateY(-40px); */
        /* border: 2px solid white; */
    }
    .hero .content p{
        width: 275px;
        /* overflow: auto; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 200px;
        /* border: 1px solid yellow; */
        animation: 
            typing 2s steps(3),
            /* blink-caret .75s step-end infinite; */
    }
    @keyframes typing {
        from { width: 0 }
        to { width: 275px; }
      }
      
      /* The typewriter cursor effect */
    @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: transparent }
    }

    .foot .circles .circle{
        height: 20px;
        width: 20px;
        background-color: rgb(223,223,223);
        border-radius: 50%;
        margin: 5px;
        transform: initial;
    }

    /* About Section */
    .about .content .image{
        display: none;
    }

    .about .content .text {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .about .content .text .title{
        font-size: 3rem;
    }

    .about .content .text .paragraph{
        font-size: 1.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* border: 2px solid white; */
        padding-right:0;
        padding: 15px;
    }

    /* Education Section */
    .education .content .image{
        display: none;
    }
    .education .content .text{
        width: 100%;
        padding-left: 0px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .education .content .title{
        font-size: 3rem;
        font-weight: bold;
        margin-top: 10px;
    }
    .education .content .data .school .title2{
        font-size: 1.4rem;
        font-weight: bolder;
        /* color: crimson; */
    }

    /* Thanks */
    .thanks .content .title{
        font-size: 3.5rem;
        font-weight: bold;
    }

    .thanks .content .paragraph{
        font-size: 1.5rem;
        font-weight: 100;
        margin-top: 0;
    }
    .thanks .content .contacts{
        margin-top: 30px;
        width: 70%;
        height: 10%;
        /* border: 1px solid white; */
    }
}

@media only screen and (max-width: 995px){
    .nav {
        margin-top: 60px;
        height: 10vh;
        width: 100%;    
        display: flex;
        justify-content: space-between;
        /* border: 2px solid white; */
    }

    .nav .line{
        margin-top: 10px;
        width: 30%;
        /* border: 2px solid white; */
    }

    .nav .nav-items{
        width: 70%;
        display: flex;
        justify-content: space-around;
    }

    .hero .content{
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        font-size: 4rem;
        font-weight: bold;
        overflow-wrap: break-word;
        /* transform: translateY(-40px); */
        /* border: 2px solid white; */
    }
    .hero .content p{
        width: 275px;
        /* overflow: auto; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 200px;
        /* border: 1px solid yellow; */
        animation: 
            typing 2s steps(10),
            blink-caret .75s step-end infinite;
    }
    @keyframes typing {
        from { width: 0 }
        to { width: 275px; }
      }
      
      /* The typewriter cursor effect */ 
    @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: #fff }
    } 
    
    .foot .circles .circle{
        height: 20px;
        width: 20px;
        background-color: rgb(223,223,223);
        border-radius: 50%;
        margin: 5px;
        transform: initial;
    }

    /* About Section */
    .about .content .image{
        display: none;
    }

    .about .content .text {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .about .content .text .title{
        font-size: 3rem;
    }

    .about .content .text .paragraph{
        font-size: 1.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* border: 2px solid white; */
        padding-right:0;
        padding: 15px;
    }

    /* Education */
    /* Education Section */
    .education .content .image{
        display: none;
    }
    .education .content .text{
        width: 100%;
        padding-left: 0px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .education .content .title{
        font-size: 3rem;
        font-weight: bold;
        margin-top: 10px;
    }
    .education .content .data .school .title2{
        font-size: 1.4rem;
        font-weight: bolder;
        /* color: crimson; */
    }
}
